/* ESTILOS PARA DISTINTAS PANTALLAS */
/* ESTILOS PARA MOBILE */
@media only screen and (min-width:320px) and (max-width:575px) {
    /* ajustes de el footer de las paginas */
    footer {
        height:40vh;
        padding:6vw;
        .copyright {
            margin: 20px 0;
            p {
                font-size:2.4vw;
            }
            div {
                .copyright-terminos {
                    h3 {
                        font-size:2vw;
                    }
                }
            }
        }  
    }
    /* ajuste del nav en las paginas */
    header {
        .nav {
            display:none;
        }
        .navbar {
            display:block;
            background-color:$color-segundo;
            margin-bottom:80px;
            div {
                .navbar-brand {
                    font-family:'copperplate' , fantasy;
                    letter-spacing:4px;
                    animation: scaleUp 4s cubic-bezier(0.390, 1.630, 0.565, -0.590) infinite alternate-reverse both;
                }
            }
        }
    }
    body {
        padding:15vw 0 0 0;
    }
    h2{ 
        font-size:10vw !important; // no esta funcionando 
    }
    /* ajuste de la pagina index */
    /* ajuste de la seccion del carousel */
    .carousel {
        width:90vw;
        margin:5vw 5vw 5vw 1vw;
        h2 {
            margin:10px ;
        }
        div {
            .carousel-inner {
                .carousel-item {
                    padding:5vw 10vw;
                    height:120vw;
                    .carousel-info-container {
                        h5 {
                            font-size:4.7vw;
                            display:block;
                        }
                        p {
                            right: 200px;
                            font-size:3.8vw;
                            display:block;
                        }
                    }
                }
            }
        }
        .guia-talles {
            display:none;
        }
    }
    /* ajuste de la seccion de ofertas de la pagina index */
    .ofertas {
        h2 {
            top:10vw;
        }
        .ofertas__item-container {
            grid-template-columns:1fr 1fr;
            margin:20px 10px;
            height:80vw;
            column-gap:33px;
            padding:5vw;
            .ofertas__item-box-1 {
                height:70vw;
                .ofertas__item-box-1-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                    span {
                        display:none;
                    }
                }
            }
            .ofertas__item-box-2 {
                height:70vw;
                .ofertas__item-box-2-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                    span {
                        display:none;
                    }
                }
            }
            .ofertas__item-box-3 {
                display:none
            }
            .ofertas__item-box-4 {
                display:none;
            }
        }
    }
    /* ajuste de la pagina profile */
    /* ajuste de la seccion de perfil de profile*/
    .perfil-container {
        margin:30px 15px;
        .perfil__info-container {
            padding:12px;
            .perfil__info-username-container {
                h3 {
                    width:45%;
                    font-size:5vw;
                }
                .perfil__info-username {
                    width:55%;
                    font-size:2.7vw;
                }
            }
            .perfil__info-email-container {
                h3 {
                    width:45%;
                    font-size:5vw;
                }
                .perfil__info-email {
                    width:55%;
                    font-size:2.7vw;
                }
            }
            .perfil__info-password-container {
                h3 {
                    width:45%;
                    font-size:4.5vw;
                }
                .perfil__info-password {
                    width:55%;
                    font-size:2.7vw;
                }
            }
        }
        .sign-up-container {
            b {
                font-size:3.2vw;
            }
            a {
                font-size:3.2vw;
            }
        }
    }
    /* ajuste de la seccion de ordenes de profile */
    .ordenes-container {
        .ordenes__info-container {
            grid-template-columns:1fr 1fr 1fr 1fr;
            gap:6px;
            h3 {
                font-size:3vw;
            }
            b {
                font-size:2vw;
            }
        }
    }
    /* ajuste de la pagina men */
    /* ajuste de la seccion de buzos */
    .h-buzos {
        h2 {
            top:10vw;
        }
        .h-buzos__item-container {
            grid-template-columns:1fr 1fr;
            margin:20px 10px;
            height:80vw;
            column-gap:33px;
            padding:5vw;
            .h-buzos__item-box-1 {
                height: 70vw;
                .h-buzos__item-box-1-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                }
            }
            .h-buzos__item-box-2 {
                height:70vw;
                .h-buzos__item-box-2-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                }
            }
            .h-buzos__item-box-3 {
                display:none
            }
            .h-buzos__item-box-4 {
                display:none;
            }
        }
    }
    /* ajuste de la seccion de remeras*/
    .h-remeras {
        margin:0 7.5vw 40px 7.5vw;
        h2 {
            top:13vw;
        }
        .h-remeras__item-container { 
            gap: 5vw;
            width:85vw;
            padding:20px;
            .h-remeras__item-box-1 {
                display:block;
                height:80vw;
                width:50%;
                a {
                    img {
                        width:100%;
                    }
                }
                .h-remeras__item-box-1-info {
                    h4 {
                        display:none
                    }
                    b {
                        position:relative;
                        bottom:42px;
                        left:30%;
                        font-size:5vw;
                    }
                }
            }
            .h-remeras__item-box-2 {
                display:block;
                height: 80vw;
                width:50%;
                a {
                    img {
                        width:100%;
                    }
                }
                .h-remeras__item-box-2-info {
                    h4 {
                        display:none;
                    }
                    b {
                        position:relative;
                        bottom:42px;
                        left:30%;
                        font-size:5vw;
                    }
                }
            }
        }
    }
    /* ajuste de la pagina de women */
    /* ajuste de la seccion de jeans*/
    .jeans {
        h2 {
            top:10vw;
        }
        .jeans__item-container {
            grid-template-columns:1fr 1fr;
            margin:20px 10px;
            height:80vw;
            column-gap:33px;
            padding:5vw;
            .jeans__item-box-1 {
                height:70vw;
                .jeans__item-box-1-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                }
            }
            .jeans__item-box-2 {
                height:70vw;
                .jeans__item-box-2-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                }
            }
            .jeans__item-box-3 {
                display:none
            }
            .jeans__item-box-4 {
                display:none;
            }
        }
    }
    /* ajuste de la seccion de vestidos */
    .vestidos {
        margin:0 7.5vw 40px 7.5vw;
        h2 {
            top:13vw;
        }
        .vestidos__item-container { 
            gap: 5vw;
            width:85vw;
            padding:20px;
            .vestidos__item-box-1 {
                display:block;
                height:80vw;
                width:50%;
                a {
                    img {
                        width:100%;
                    }
                }
                .vestidos__item-box-1-info {
                    h4 {
                        display:none
                    }
                    b {
                        position:relative;
                        bottom:42px;
                        left:30%;
                        font-size:5vw;
                    }
                }
            }
            .vestidos__item-box-2 {
                display:block;
                height: 80vw;
                width:50%;
                a {
                    img {
                        width:100%;
                    }
                }
                .vestidos__item-box-2-info {
                    h4 {
                        display:none;
                    }
                    b {
                        position:relative;
                        bottom:42px;
                        left:30%;
                        font-size:5vw;
                    }
                }
            }
        }
    }
    /* Ajuste de la pagina de childs */
    /* Ajuste de la seccion de buzos */
    .n-remeras {
        margin:0 7.5vw 40px 7.5vw;
        h2 {
            top:13vw;
        }
        .n-remeras__item-container { 
            gap: 5vw;
            width:85vw;
            padding:20px;
            .n-remeras__item-box-1 {
                display:block;
                height:80vw;
                width:50%;
                a {
                    img {
                        width:100%;
                    }
                }
                .n-remeras__item-box-1-info {
                    h4 {
                        display:none
                    }
                    b {
                        position:relative;
                        bottom:42px;
                        left:30%;
                        font-size:5vw;
                    }
                }
            }
            .n-remeras__item-box-2 {
                display:block;
                height: 80vw;
                width:50%;
                a {
                    img {
                        width:100%;
                    }
                }
                .n-remeras__item-box-2-info {
                    h4 {
                        display:none;
                    }
                    b {
                        position:relative;
                        bottom:42px;
                        left:30%;
                        font-size:5vw;
                    }
                }
            }
        }
    }
    /* Ajuste de la seccion de buzos */
    .n-buzos {
        h2 {
            top:10vw;
        }
        .n-buzos__item-container {
            grid-template-columns:1fr 1fr;
            margin:20px 10px;
            column-gap:33px;
            height:80vw;
            padding:5vw;
            .n-buzos__item-box-1 {
                height:70vw;
                .n-buzos__item-box-1-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                }
            }
            .n-buzos__item-box-2 {
                height:70vw;
                .n-buzos__item-box-2-info {
                    b {
                        font-size:4.5vw;
                        top:-3vw;
                    }
                }
            }
            .n-buzos__item-box-3 {
                display:none
            }
            .n-buzos__item-box-4 {
                display:none;
            }
        }
    }
}
