/*Configuracion de la letra de la pagina*/
*{
	font-family:'Nova Square', sans-serif;
	font-size:20px;
	font-weight: 80px;
	letter-spacing:2px;
}
/* Reset de estilos predeterminados */
*{
	box-sizing:border-box;
	margin:0;
}
/* ESTILOS GENERALES*/
/*Configuracion del nav*/
header {
	position:sticky;
	top:0;
	z-index:5;
	background-color:#180018;
	width:100vw;
}
.navbar {
	display:none; /* oculta el menu hamburguesa de boostrap*/
}
.nav{
	color:#fff;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-left:25px;
	height:60px;
}
.nav a{ 
	text-decoration: none;
	color:#fff;
}
.nav ul {
	list-style-type:none;
	display:flex;
	gap:10px;
	margin-right:40px;
	margin-top:20px;
}
.nav h1{
	font-size:35px;
	color:#ffffff;
	font-family:'copperplate',fantasy;
	letter-spacing:4px;
}
/* CONFIGURACION DE ESTILOS DE EL FOOTER */
footer {
	height:90px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
footer .redes-sociales {
 	height:80px;
	display:flex;
	gap:40px;
	justify-content:center;
}
.copyright {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	height:80px;
	margin:40px;
}
.copyright div {
	display:flex;
	gap:40px;
}
.copyright div a h3{
	color:rgba(230, 230, 230, 0.651);
	font-size:17px;
}
.copyright div a {
	text-decoration:none;
}
/* CONFIGURACION DEL CAROUSEL DE BOOTSRAP
ESTILOS PISADOS */
/*hace que las imagenes no ocupen toda la pantalla y tenga
espacio incluso para meter la guia de talles al costados*/
.carousel{
	width:800px;
	margin:5px; 
}
.carousel-item {
	height:700px;
	padding:60px 100px;
}
.carousel-info-container {
	justify-content:space-around;
}
.carousel-info-container h5 {
	font-size:50px;
}
.carousel-info-container p {
	font-size:35px;
	color:#000;
	text-shadow:1px 1px 10px #fff;
}
.imagen {
	object-fit:cover;
	width:100%;
	height:100%;
}
.carousel h2{
	font-size:60px;
	margin:20px 30px 0 30px;
	letter-spacing:10px;
}
/* ESTILOS DE LA GUIA DE TALLES DEL CAROUSEL */
.guia-talles {
	position:absolute;
	right:-400px;
	top:420px;
}
.guia-talles h3 {
	font-size:30px;
	letter-spacing:10px;
	margin: 0 40px;
}
.guia-talles__item-grid-container{
	display:grid;
	grid-template-columns:repeat(4,90px);
	grid-template-rows:repeat(4,50px);
	margin:15px 40px;
}
.guia-talles__item-container {
	border:2px solid #fff;
}
.guia-talles__item-container h4 {
	font-size:40px;
	text-align:center;
}
.guia-talles__item-container p {
	text-align:center;
	margin:10px 0;
}
/*CONFIGURACION DE EL FONDO DE LA PAGINA*/
.background{
	background-color:#BCA79D;
	color:#fff;
	background-image: url(../imagenes/background/atumn-leaves.png);
	background-repeat: repeat;
}
/*CONFIGURACION DE LA ETIQUTA DE PRECIO DE TODAS LAS PAGINAS*/
.precio {
	color:#DC753C;
}
/* ESTILOS ESPECIFICOS */
/* ESTILOS ESPECIFICOS DE LA PAGINA INDEX*/
/* ESTILOS DE LA SECCION OFERTAS*/
.ofertas{
	margin:40px 20px 20px 20px;
}
.ofertas h2{
	text-align:right;
	font-size:60px;
	margin-right:60px;
	letter-spacing:10px;
}
.ofertas__item-container {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	height:600px;
	column-gap:40px;
	margin:50px;
}
.ofertas__item-box-1{
	height:400px;
}
.ofertas__item-box-1 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.ofertas__item-box-1-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.ofertas__item-box-1-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.ofertas__item-box-2{
	height:400px;
}
.ofertas__item-box-2 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.ofertas__item-box-2-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.ofertas__item-box-2-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.ofertas__item-box-3{
	height:400px;
}
.ofertas__item-box-3 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.ofertas__item-box-3-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.ofertas__item-box-3-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.ofertas__item-box-4{
	height:400px;
}
.ofertas__item-box-4 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.ofertas__item-box-4-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.ofertas__item-box-4-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
/* ESTILOS ESPECIFICOS DE LA PAGINA MEN */
/* ESTILOS DE LA SECCION DE BUZOS */
.h-buzos{
	margin:40px 20px 20px 20px;
}
.h-buzos h2{
	text-align:right;
	font-size:60px;
	margin-right:30px;
	letter-spacing:10px;
}
.h-buzos__item-container {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	height:600px;
	column-gap:40px;
	margin:50px;
}
.h-buzos__item-box-1{
	height:400px;
}
.h-buzos__item-box-1 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.h-buzos__item-box-1-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.h-buzos__item-box-1-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.h-buzos__item-box-2{
	height:400px;
}
.h-buzos__item-box-2 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.h-buzos__item-box-2-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.h-buzos__item-box-2-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.h-buzos__item-box-3{
	height:400px;
}
.h-buzos__item-box-3 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.h-buzos__item-box-3-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.h-buzos__item-box-3-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.h-buzos__item-box-4{
	height:400px;
}
.h-buzos__item-box-4 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.h-buzos__item-box-4-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.h-buzos__item-box-4-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
/* ESTILOS DE LA SECCION REMERAS */
.h-remeras h2{
	font-size:60px;
	margin: 50px 0 50px 30px;
	letter-spacing:10px;
}
.h-remeras__item-container {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:60px;
}
.h-remeras__item-box-1 {
	width:600px;
	display:grid;
	grid-template-areas:
	"img img info"
	;
	grid-template-rows:600px;
	padding:30px;
	column-gap:40px;
}
.h-remeras__item-box-1 img {
	height:100%;
	width:400px;
	object-fit:cover;
	grid-area:"img";
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.h-remeras__item-box-1-info {
	grid-area: "info";
}
.h-remeras__item-box-1-info h4 {
	font-size:30px;
	text-shadow:1px 1px 10px #fff;
}
.h-remeras__item-box-1-info b {
	font-size: 30px;
}
.h-remeras__item-box-2 {
	width:600px;
	display:grid;
	grid-template-areas:
	"img img info"
	;
	grid-template-rows:600px;
	padding:30px;
	column-gap:40px;
}
.h-remeras__item-box-2 img {
	height:100%;
	width:400px;
	object-fit:cover;
	grid-area: "img";
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.h-remeras__item-box-2-info {
	grid-area:"info";
}
.h-remeras__item-box-2-info h4 {
	font-size:30px;
	text-shadow:1px 1px 10px #fff;
}
.h-remeras__item-box-2-info b {
	font-size:30px;
}
/* ESTILOS ESPECIFICOS DE LA PAGINA CHILDS*/
/* ESTILOS DE LA SECCION REMERAS */
.n-remeras h2{
	font-size:60px;
	margin: 50px 0 50px 30px;
	letter-spacing:10px;
}
.n-remeras__item-container {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:60px;
}
.n-remeras__item-box-1 {
	width:600px;
	display:grid;
	grid-template-areas:
	"img img info"
	;
	grid-template-rows:600px;
	padding:30px;
	column-gap:40px;
}
.n-remeras__item-box-1 img {
	height:100%;
	width:400px;
	object-fit:cover;
	grid-area:"img";
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.n-remeras__item-box-1-info {
	grid-area:"info";
}
.n-remeras__item-box-1-info h4 {
	font-size:40px;
	text-shadow:1px 1px 10px #fff;
}
.n-remeras__item-box-1-info b {
	font-size:30px;
}
.n-remeras__item-box-2 {
	width:600px;
	display:grid;
	grid-template-areas:
	"img img info"
	;
	grid-template-rows:600px;
	padding:30px;
	column-gap:40px;
}
.n-remeras__item-box-2 img {
	height:100%;
	width:400px;
	object-fit:cover;
	grid-area: "img";
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid  #70362D;
}
.n-remeras__item-box-2-info {
	grid-area:"info";
}
.n-remeras__item-box-2-info h4 {
	font-size:40px;
	text-shadow:1px 1px 10px #fff;
}
.n-remeras__item-box-2-info b {
	font-size:30px;
}
/* ESTILOS DE LA SECCION DE BUZOS*/
.n-buzos{
	margin:40px 20px 20px 20px;
}
.n-buzos h2{
	text-align:right;
	font-size:60px;
	margin-right:60px;
	letter-spacing:10px;
}
.n-buzos__item-container {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	height:600px;
	column-gap:40px;
	margin:50px;
}
.n-buzos__item-box-1{
	height:400px;
}
.n-buzos__item-box-1 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.n-buzos__item-box-1-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.n-buzos__item-box-1-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.n-buzos__item-box-2{
	height:400px;
}
.n-buzos__item-box-2 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.n-buzos__item-box-2-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.n-buzos__item-box-2-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.n-buzos__item-box-3{
	height:400px;
}
.n-buzos__item-box-3 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.n-buzos__item-box-3-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.n-buzos__item-box-3-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.n-buzos__item-box-4{
	height:400px;
}
.n-buzos__item-box-4 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.n-buzos__item-box-4-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.n-buzos__item-box-4-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
/* ESTILOS ESPECIFICOS DE LA PAGINA WOMEN*/
/* ESTILOS DE LA SECCION JEANS */
.jeans{
	margin:40px 20px 20px 20px;
}
.jeans h2{
	text-align:right;
	font-size:60px;
	margin-right:60px;
	letter-spacing:10px;
}
.jeans__item-container {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	height:600px;
	column-gap:40px;
	margin:50px;
}
.jeans__item-box-1{
	height:400px;
}
.jeans__item-box-1 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.jeans__item-box-1-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.jeans__item-box-1-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.jeans__item-box-2{
	height:400px;
}
.jeans__item-box-2 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.jeans__item-box-2-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.jeans__item-box-2-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.jeans__item-box-3{
	height:400px;
}
.jeans__item-box-3 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.jeans__item-box-3-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.jeans__item-box-3-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
.jeans__item-box-4{
	height:400px;
}
.jeans__item-box-4 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.jeans__item-box-4-info {
	position: relative;
	text-align:center;
	top:-4vw;
}
.jeans__item-box-4-info b {
	position:absolute;
	font-size:3vw;
	right:20px;
}
/* ESTILOS DE LA SECCION DE VESTIDOS */
.vestidos h2{
	font-size:60px;
	margin: 50px 0 50px 30px;
	letter-spacing:10px;
}
.vestidos__item-container {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:60px;
}
.vestidos__item-box-1 {
	width:600px;
	display:grid;
	grid-template-areas:
	"img img info"
	;
	grid-template-rows:600px;
	padding:30px;
	column-gap:40px;
}
.vestidos__item-box-1 img {
	height:100%;
	width:400px;
	object-fit:cover;
	grid-area:"img";
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.vestidos__item-box-1-info {
	grid-area:"info";
}
.vestidos__item-box-1-info h4 {
	font-size:40px;
	text-shadow:1px 1px 10px #fff;
}
.vestidos__item-box-1-info b {
	font-size:30px;
}
.vestidos__item-box-2 {
	width:600px;
	display:grid;
	grid-template-areas:
	"img img info"
	;
	grid-template-rows:600px;
	padding:30px;
	column-gap:40px;
}
.vestidos__item-box-2 img {
	height:100%;
	width:400px;
	object-fit:cover;
	grid-area: "img";
	border-radius:25px 0;
	border-bottom: 5px solid #70362D;
	border-right:5px solid #70362D;
}
.vestidos__item-box-2-info {
	grid-area:"info";
}
.vestidos__item-box-2-info h4 {
	font-size:40px;
	text-shadow:1px 1px 10px #fff;
}
.vestidos__item-box-2-info b {
	font-size:30px;
}
/* ESTILOS ESPECIFICOS DE LA PAGINA PROFILE */
/* ESTILOS DE LA SECCION PERFIL */
.perfil-container{
	margin:30px;
	display:flex;
	flex-direction:column;
}
.perfil__title-container{
	display:flex;
	gap:15px;
	border-bottom:3px solid #ccc;
	margin-bottom:20px;
}
.perfil__title-container h2 {
	font-size:60px;
	margin: 50px 0 20px 30px;
	letter-spacing:10px;
}
.perfil__title-container b {
	margin: 64px 0 20px 2px;
	color:rgba(172, 172, 172, 0.897);
}
.perfil__info-container {
	border: 3px solid #ccc;
	padding:10px 20px;
	border-radius:15px 0 15px 0;
}
.perfil__info-username-container {
	display:flex;
	justify-content:space-between;
	align-items:end;
	margin-top:10px;
}
.perfil__info-username-container h3 {
	border:3px solid #ccc;
	padding:10px;
	margin: 0 15px 0 0; 
	border-radius: 15px 0 15px 0;
	width:22%;
}
.perfil__info-username {
	border-bottom:3px dashed rgba(172, 172, 172, 0.897);
	padding-bottom:2px;
	width:78%;
	text-align:center;
}
.perfil__info-email-container {
	display:flex;
	justify-content:space-between;
	align-items:end;
	margin-top:40px;
}
.perfil__info-email-container h3 {
	border: 3px solid #ccc;
	padding:10px;
	margin: 0 15px 0 0;
	border-radius:15px 0 15px 0;
	width:22%;
}
.perfil__info-email {
	border-bottom: 3px dashed rgba(172, 172, 172, 0.897);
	padding-bottom:2px;
	width:78%;
	text-align:center;
}
.perfil__info-password-container {
	display:flex;
	justify-content:space-between;
	align-items:end;
	margin: 40px 0 10px 0;
}
.perfil__info-password-container h3 {
	border:3px solid #ccc;
	padding:10px;
	margin: 0 15px 0 0; 
	border-radius:15px 0 15px 0;
	width:22%;
}
.perfil__info-password {
	border-bottom: 3px dashed rgba(172, 172, 172, 0.897);
	padding-bottom:2px;
	width:78%;
	text-align:center;
}
.sign-up-container {
	display:flex;
	justify-content:center;
	gap:20px;
	margin:17px 0;
}
/* ESTILOS DE LA SECCION ORDENES */
.ordenes__title {
	text-align:right;
	font-size:60px;
	margin: 20px 30px;
	letter-spacing:10px;
	border-bottom:3px solid #ccc;
	padding-bottom:20px;
}
.ordenes__info-container {
	margin:30px 0 10px 30px;
	display:grid;
	grid-template-columns:300px 200px 400px 600px;
	grid-template-rows:150px repeat(3,100px);
}
.ordenes__info-container h3 {
	border-left: 3px solid #fff;
	align-self:center;
	padding-left:30px;
}
/* ESTILOS DE EL FONDO DE LA PAGINA DE PROFILE */
.profile-background {
	background-color:#100012;
	color:#fff;
}
.nav-profile {
	background-color:#0e0e10;
}
/* Colores de los encabezados de las paginas */
h2 , h3 {
	color:#70362D;
}
/* Estilos para screen mobile */
@media only screen and (min-width:320px) and (max-width:960px) {
	/* ajustes de el footer de las paginas */
	.copyright p {
		font-size:2vw;
	}
	.copyright div a h3 {
		font-size:1.5vw;
	}
	/* ajuste del nav en las paginas */
	.nav {
		display:none;
	}
	.navbar {
		display:block;
		background-color:#180018;
	}
	.nav-brand {
		color:#fff;
	}
	/* ajuste de la pagina index */
	/* ajuste de la seccion del carousel */
	.guia-talles { /* esconde la guia de talles de al lado de la foto */
		display:none;
	}
	.carousel-item {
		padding:5vw 10vw;
	}
	.carousel {
		width:100vw;
		margin: 15vw  0 0 0;
	}
	.carousel h2 {
		margin:10px 30px;
	}
	.carousel-info-container h5 {
		right:70px;
		font-size:4.7vw;
		display:block;
	}
	.carousel-info-container p {
		right:200px;
		font-size:3.8vw;
		top:30px;
		display:block;
	}
	/* ajuste de la seccion de ofertas de la pagina index */
	.ofertas__item-box-3{
		display:none;
	}
	.ofertas__item-box-4{
		display:none;
	}
	.ofertas__item-container{
		grid-template-columns:1fr 1fr;
		margin:20px;
	}
	.ofertas__item-box-1-info b {
		font-size:4.5vw;
		top:-3vw;
	}
	.ofertas__item-box-2-info b {
		font-size:4.5vw;
		top:-3vw;
	}
	/* ajuste de la pagina profile */
	/* ajuste de la seccion de perfil de profile*/
	.perfil__title-container h2 {
		font-size:50px;
	}
	.perfil__info-container div h3 {
		font-size:3vw;
		width:40vw;
	}
	.perfil__info-container div b {
		font-size:2vw;
		width:60vw;
	}
	.sign-up-container b , .sign-up-container a {
		font-size:2.2vw;
		text-decoration:none;
	}
	/* ajuste de la seccion de ordenes */
	.ordenes__info-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap:6px;
	}
	.ordenes__info-container h3 {
		font-size:3vw;
	}
	.ordenes__info-container b {
		font-size:2vw;
	}
}