//Paleta de colores 
// Basado en tonos monocromaticos del beige 
$color-primero: #3A1C17; 
$color-segundo: #180018;
$color-tercero: #aeaeae96;
$color-cuarto: #DC753C;
$color-quinto:#000;
$color-sexto:#2926268f;
