/* ESTILOS ESPECIFICOS DE LA PAGINA INDEX */
/* ESTILOS DE LA SECCION OFERTAS */
.ofertas {
    margin: 40px 20px 20px 20px; 
    h2 {
        @include encabezado (center , 0 60px);
        position:relative;
        top:75px;
    }
    .ofertas__item-container {
        background-color:$color-sexto;
        padding:50px;
        border-radius:12px;
        @include grid;
        .ofertas__item-box-1 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .ofertas__item-box-1-info {
                position:relative;
                text-align:center;
                top:-4vw;
                span {
                    background-color:#aaa; opacity:50%;
                    b {
                        text-decoration:line-through; bottom:-90px; right:50px; color:#000000; font-size:20px;
                    }
                }
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
        .ofertas__item-box-2 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .ofertas__item-box-2-info {
                position:relative;
                text-align:center;
                top:-4vw;
                span {
                    background-color:#aaa; opacity:50%;
                    b {
                        text-decoration:line-through; bottom:-90px; right:50px; color:#000000; font-size:20px;
                    }
                }
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
        .ofertas__item-box-3 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .ofertas__item-box-3-info {
                position:relative;
                text-align:center;
                top:-4vw;
                span {
                    background-color:#aaa; opacity:50%;
                    b {
                        text-decoration:line-through; bottom:-90px; right:50px; color:#000000; font-size:20px;
                    }
                }
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
        .ofertas__item-box-4 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .ofertas__item-box-4-info {
                position:relative;
                text-align:center;
                top:-4vw;
                span {
                    background-color:#aaa; opacity:50%;
                    b {
                        text-decoration:line-through; bottom:-90px; right:50px; color:#000000; font-size:20px;
                    }
                }
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
    }
}