/* ESTILOS ESPECIFICOS DE LA PAGINA MEN */
/* ESTILOS DE LA SECCION DE BUZOS */
.h-buzos {
    margin:40px 20px 20px 20px;
    h2 {
        @include encabezado(center , 0 60px);
        position:relative;
        top:75px;
    }
    .h-buzos__item-container {
        background-color: $color-sexto;
        padding:50px;
        border-radius:12px;
        @include grid;
        .h-buzos__item-box-1 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .h-buzos__item-box-1-info {
                position:relative;
                text-align:center;
                top:-4vw;
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
        .h-buzos__item-box-2 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .h-buzos__item-box-2-info {
                position:relative;
                text-align:center;
                top:-4vw;
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
        .h-buzos__item-box-3 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .h-buzos__item-box-3-info {
                position:relative;
                text-align:center;
                top:-4vw;
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
        .h-buzos__item-box-4 {
            height:400px;
            a {
                img {
                    @include ajuste-img;
                }
            }
            .h-buzos__item-box-4-info {
                position:relative;
                text-align:center;
                top:-4vw;
                b {
                    position: absolute;
                    font-size:3vw;
                    right:20px;
                }
            }
        }
    }
}