/* ESTILOS ESPECIFICOS */
/* ESTILOS DE EL CAROUSEL DE LAS PAGINAS 
ESTILOS PISADOS DE BOOSTRAP */
/* Hace que las imagenes de no ocupen toda la pantalla 
y de espacio incluse para meter la guia de talles */

.carousel {
    width:800px;
    margin:5px;
    div {
        h2 {
            @include encabezado(center, 0); 
        }
        .carousel-inner {
            .carousel-item {
                height:700px;
                padding:60px 100px;
                a {
                    img {
                        @include ajuste-img;
                    }
                }
                .carousel-info-container {
                    justify-content: space-around;
                    h5 {
                        font-size:50px;
                    }
                    p {
                        font-size:35px;
                        color:#000;
                        text-shadow: 1px 1px 10px #fff;
                    }
                }
            }
        }
    }
    /* Estilos de la guia de talles */
    .guia-talles {
        position:absolute;
        right:-400px;
        top:420px;
        background-color:$color-sexto;
        border-radius:12px;
        padding:5px;
        h3 {
            font-size:30px;
            letter-spacing: 10px;
            margin:0 40px;
        }
        .guia-talles__item-grid-container {
            display: grid;
            grid-template-columns: repeat(4, 90px ) ; 
            grid-template-rows: repeat(4, 50px ) ;
            margin: 15px 40px; 
            .guia-talles__item-container {
                border: 2px solid #fff; 
                h4 {
                    font-size: 40px;
                    text-align:center;
                }
                p {
                    text-align:center;
                    margin:10px 0; 
                }
            }
        }
    }
}
