/* ESTILOS GENERALES */
/* Arreglo con los problemas de overflow de la pagina */
body {
    width:100vw;
    overflow-x:hidden;
}
/* ESTILOS DE TIPOGRAFIA DE LA PAGINA */
*{
    font-family:'Nova Square' , sans-serif;
    font-size:20px;
    font-weight:80px;
    letter-spacing:2px;
}
/* RESET DE ESTILOS PREDETERMINADOS */
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* ESTILOS DEL NAV DE LAS PAGINAS */
header{
    position:sticky;
    top:0;
    z-index:5;
    background-color:$color-segundo;
    width:100vw;
    .navbar{
        display:none;
    }
    .nav{
        color:#fff;
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-left:25px;
        height:60px;
        a {
            text-decoration:none;
            color:#fff;
            h1 {
                font-size:35px;
                color:#fff;
                font-family:'copperplate' , fantasy;
                letter-spacing:4px;
                animation: scaleUp 4s cubic-bezier(0.390, 1.630, 0.565, -0.590) infinite alternate-reverse both;
                transition:all 1s;
                &{
                    animation:none;
                    transform:scale(1.1);
            }
        }
        ul {
            list-style-type:none;
            display:flex;
            gap:10px;
            margin-right:40px;
            margin-top:20px;
            li {
                transition:transform .2s;
                transition-timing-function: ease-in;
                a {
                    text-decoration:none;
                    color:#fff;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
/* ESTILOS DEL FOOTER DE LAS PAGINAS */
footer {
    background-color:$color-sexto;
    margin:80px 0 0 0;
    padding:25px 0 0 0;
    height:30vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    .redes-sociales {
        height:30px;
        display:flex;
        gap:40px;
        justify-content:center;
    }
    .copyright {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-between;
        height:80px;
        margin:20px 40px 0 40px;
        div {
            display:flex;
            gap:40px;
            a {
                text-decoration:none;
                h3 { 
                    color: $color-cuarto;
                    font-size:17px;
                }
            }
        }
    }
}
/* ESTILOS DEL BACKGROUND DE LAS PAGINAS */
.background {
    background-color: $color-tercero;
    color:#fff;
}
/* ESTILOS ESPECIFICO DEL BACKGROUND DE LA PAGINA PROFILE */
.profile-background {
    background-color:#100012;
    color:#fff;
    .nav-profile {
        background-color:#0e0e10;
    }
}
/* ESTILOS ESPECIFICOS DE LAS ETIQUETAS DE PRECIO DE CUALQUIER PAGINA */
.precio {
    color:$color-cuarto;
}
/* COLORES DE LOS ENCABEZADOS DE LAS PAGINAS */
h2 {
    color:$color-quinto;
    text-shadow:0 0 8px $color-tercero;
}
h3 {
    color: $color-tercero;
}
