/*Configuracion de la letra de la pagina*/
*{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:20px;
	font-weight: 80px;
}
/* ESTILOS GENERALES*/

/*Configuracion del nav*/
.nav{
	background-color:#000000;
	color:#fff;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-left:25px;
	height:100px;
}
.nav a{ 
	text-decoration: none;
	color:#fff;
}
.nav ul {
	list-style-type:none;
	display:flex;
	gap:10px;
	margin-right: 30px;
}
.nav h1{
	font-size:60px;
	color:#ffffff;
	font-family:'copperplate',fantasy;
	letter-spacing:4px;
}

/* CONFIGURACION DE ESTILOS DE EL FOOTER */
footer {
	height:90px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

footer div{
 	height:80px;
	display:flex;
	gap:40px;
}
footer div img{
	width:100%;
	height:100%;
	object-fit:scale-down;
}
.copyright {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	height:80px;
	margin:40px;
}

.copyright div {
	display:flex;
	gap:40px;
}
.copyright div a{
	color:rgba(230, 230, 230, 0.308);
}

/* CONFIGURACION DEL CAROUSEL DE BOOTSRAP
ESTILOS PISADOS */
.carousel-item {
	height:700px;
}
.imagen {
	width:100%;
	height:100%;
	object-fit:scale-down;
}
.carousel h2{
	font-size:40px;
	margin:30px;
	letter-spacing:4px;
}

/*CONFIGURACION DE EL FONDO DE LA PAGINA*/
body{
	background-color:#000000;
	color:#fff;
}

/*CONFIGURACION DE LA ETIQUTA DE PRECIO DE TODAS LAS PAGINAS*/
.precio {
	color:#f00;
}

/* ESTILOS ESPECIFICOS */

/* ESTILOS ESPECIFICOS DE LA PAGINA INDEX*/

/* ESTILOS DE LA SECCION OFERTAS*/
.ofertas{
	margin:40px 20px 20px 20px;
}
.ofertas h2{
	text-align:right;
	font-size:40px;
	margin-right:60px;
	letter-spacing:4px;
}
.ofertas__item-container {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	height:600px;
	column-gap:40px;
	margin:50px;
}
.ofertas__item-container div div label{
	color:#000;
	font-weight:120px;
}
.ofertas__items-box-1{
	height:400px;
}
.ofertas__item-box-1 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
}
.ofertas__item-box-1-info {
	position: relative;
	bottom:30px;
	left:60px;
}
.ofertas__items-box-2{
	height:400px;
}
.ofertas__item-box-2 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
}
.ofertas__item-box-2-info {
	position: relative;
	bottom:30px;
	left:60px;
}
.ofertas__items-box-3{
	height:400px;
}
.ofertas__item-box-3 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
}
.ofertas__item-box-3-info {
	position: relative;
	bottom:30px;
	left:60px;
}
.ofertas__items-box-4{
	height:400px;
}
.ofertas__item-box-4 a img{ /* ajuste de la resolucion de la imagen*/
	width:100%;
	height:100%;
	object-fit:cover;
}
.ofertas__item-box-4-info {
	position: relative;
	bottom:30px;
	left:60px;
}
/*TAMAÑO DE LETRA DE ENCABEZADOS DE LA PAGINA MEN*/
.h-buzos h2{
	font-size:40px;
}
.pantalones h2{
	font-size:40px;
}
.h-remeras h2{
	font-size:40px;
}

/*TAMAÑO DE LETRA DE ENCABEZADOS DE LA PAGINA CHILDS*/
.n-remeras h2{
	font-size:40px;
}
.jeans-shorts h2{
	font-size:40px;
}
.n-buzos h2{
	font-size:40px;
}
/*TAMAÑO DE LETRA DE ENCABEZADOS DE LA PAGINA WOMEN*/
.jeans-leggins h2{
	font-size:40px;
}
.m-buzos h2{
	font-size:40px;
}
.vestidos h2{ 
	font-size:40px;
}
/*TAMAÑO DE LETRA DE ENCABEZADOS DE LA PAGINA PROFILE*/
.perfil__title{
	font-size:40px;
}
.ordenes__title{
	font-size:40px;
}

.copyright-terminos{
	color:#ffffff;
	text-decoration:none;
}


