/* ESTILOS DE LA SECCION DE VESTIDOS */
.vestidos {
    margin:60px;
    h2 {
        @include encabezado(center , 50px 0 30px 60px);
        position:relative;
        top:55px;
    }
    .vestidos__item-container {
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:40px;
        background-color:$color-sexto;
        border-radius:12px;
        .vestidos__item-box-1 {
            @include grid-area;
            a {
                img {
                    @include ajuste-img-2p; 
                }
            }
            .vestidos__item-box-1-info {
                grid-area:"info";
                h4 {
                    font-size:40px;
                    text-shadow:1px 1px 10px #fff;
                }
                b {
                    font-size:30px;
                }
            }
        }
        .vestidos__item-box-2 {
            @include grid-area;
            a {
                img {
                    @include ajuste-img-2p; 
                }
            }
            .vestidos__item-box-2-info {
                grid-area:"info";
                h4 {
                    font-size:40px;
                    text-shadow:1px 1px 10px #fff;
                }
                b {
                    font-size:30px;
                }
            }
        }
    }
}